@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    overflow: auto;
    font-family: Roboto, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header, .footer, .header-navbar, .banner {
    background-color: #1F2937;
    display: flex;
}

.header {
    padding: 10px 200px;
    flex-direction: column;
}

.header-navbar {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

a, .hero-secondary-text, .footer {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.banner {
    padding: 90px 0;
    justify-content: space-between;
    gap: 30px;
}

.banner-content {
    min-width: 450px;
}

.banner img {
    width: 400px;
    height: 200px;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
}

.hero-secondary-text {
    margin-bottom: 10px;
}

button {
    background: #3882f6;
    border: 1px solid #3882f6;
    color: #f9faf8;
    padding: 4px 24px;
    border-radius: 8px;
    cursor: pointer;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.information {
    text-align: center;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 30px;
}

.information-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 50px;
}

.info {
    max-width: 150px;
}

.info img {
    width: 150px;
    height: 150px;
}

.quote-container {
    background-color: #E5E7EB;
    padding: 100px 300px 70px;
}

.quote {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.quote-author {
    text-align: end;
    font-weight: bold;
    margin: 0 20px;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 200px;
}

.call-to-action-prompt {
    background: #3882f6;
    width: 75vw;
    padding: 30px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

p {
    margin: 0;
}

p.main {
    font-size: 24px;
    color: #f9faf8;
}

p.sub {
    color: #E5E7EB;
}

.call-to-action-button {
    border: 1px solid #f9faf8;
    flex-shrink: 0;
}

.footer {
    padding: 20px;
    justify-content: center;
    align-content: center;
}
