body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif, monospace;
    display: flex;
    flex-direction: column;
}

.header, .body-info, .body-quote, .body-banner, .footer {
    display: flex;
    padding: 64px 240px;
}

.header, .footer {
    background-color: #1f2937;
}

.header {
    color: #f9faf8;
    flex-direction: column;
    padding-top: 16px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
}

.hero-main {
    font-size: 48px;
    font-weight: 900;
}

.footer, .hero-secondary, a, .body-banner-text-sub {
    font-size: 18px;
    color: #e5e7eb;
}

.footer {
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.header-top, .header-info {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header-info {
    margin: 80px 0;
}

.header-text {
    width: 600px;
}

button {
    border-radius: 8px;
    padding: 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
}

.header-button {
    margin-top: 8px;
}

.header-image {
    width: 480px;
    background-color: grey;
    flex-shrink: 0;
}

.body-info, .body-quote, .body-banner, .body-banner-container {
    flex: 1;
    justify-content: center;
    align-items: center;
}

.body-info {
    padding-top: 24px;
    text-align: center;
    flex-direction: column;
}

.body-info-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-bottom: 24px;
}

.body-info-subcontainer {
    display: flex;
    justify-content: center;
    gap: 52px;
    color: #9c9c9c;
}

.body-info-box {
    width: 160px;
}

.body-image {
    border: 2px solid #3882f6;
    border-radius: 4px;
    width: 160px;
    height: 160px;
}

.body-quote {
    background-color: #e5e7eb;
    flex-basis: auto;
}

.body-quote-container {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.body-quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}

.body-quote-author {
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
}

.body-banner-container {
    background-color: #3882f6;
    border-radius: 8px;
    padding: 40px 80px;
    display: flex;
    gap: 100px;
}

.body-banner-text-main {
    font-size: 24px;
    color: #f9faf8;
}

.body-button {
    border-color: #f9faf8;
    flex-shrink: 0;
}